@model PCRWeb.ViewModels.PrincessConnectViewModel
@{
    ViewBag.Title = "Index";//顯示標題用
    var allRoleList = ViewBag.List;
}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>var Account = "";</script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>Account = "@(User.Identity.Name)";</script>
    }

</head>
<div id="dialog" title="Basic dialog"></div>
<br>
<body background="~/Images/競技場.png" style="background-size: cover; margin: 0; "></body>
<input id="isHide" type="submit" value="展開" onclick="hide()" />
<br>
<div>
    @for (int i = 0; i < 134; i++)
    {
        <button type="submit" id="@i" value="@(allRoleList[i])" onclick="clickImageBolder(@(i))" style="width: 70px; height: 70px; border:none;display:none; background-color:transparent;">
            <img src="~/Images/@(allRoleList[i]).png " style="width: 50px; height: 50px; border:none;" />
        </button>
    }
    <br>
    <input type="submit" id="OK" value="確認" style="display: none;" onclick="clickLink()" />
</div>
<script type="text/javascript">
    console.log("Account: " + Account);
    let fiveCount = 0;
    let Role = [];
    let roleCount = 134;
    let falseCount = 0;
    var pcrState = [];
    let allRoleName = "";
    let a1 = ""; let a2 = ""; let a3 = ""; let a4 = ""; let a5 = "";
    let d1 = ""; let d2 = ""; let d3 = ""; let d4 = ""; let d5 = "";
    let Note = "";
    let hideToggle = true;
    let queryView = [];
    let a1View = []; let a2View = []; let a3View = []; let a4View = []; let a5View = [];
    let d1View = []; let d2View = []; let d3View = []; let d4View = []; let d5View = [];
    let contentView = []; let insertTimeView = []; let positiveView = []; let negativeView = [];
    let idView = [];
    let queryCount = 0;
    for (var i = 0; i < roleCount; i++) {
        pcrState.push(true);
    }
    function defenseClear() {
        Role = [];
        fiveCount = 0;
        for (var i = 0; i < 5; i++) {
            document.getElementById("di" + i).removeAttribute("src");
        }
    }
    function clickLink() {
        defenseClear();
        for (var i = 0; i < roleCount; i++) {
            if (pcrState[i] == false) {
                Role.push(document.getElementById(i).value);
            }
        }
        fiveCount = 0;
        for (var i = 0; i < roleCount; i++) {
            if (pcrState[i] == false) {
                var obj = document.getElementById("di" + fiveCount);
                obj.setAttribute("src", "../Images/" + Role[fiveCount] + ".png");//不能用~/Imges
                fiveCount++;
            }
        }
        hide();
        d1 = Role[0]; d2 = Role[1]; d3 = Role[2]; d4 = Role[3]; d5 = Role[4];
        console.log("防守確認:" + d1 + d2 + d3 + d4 + d5);
    }
    function hide() {
        hideToggle = !hideToggle;
        if (hideToggle) {
            document.getElementById("isHide").value = "展開";
            document.getElementById("OK").style = "display: none;";
            for (var i = 0; i < roleCount; i++) {
                document.getElementById(i).style = "border:none; width: 70px; height: 70px;background-color:transparent;display:none;";
            }
        }
        else {
            document.getElementById("isHide").value = "隱藏";
            document.getElementById("OK").removeAttribute("style");
            for (var i = 0; i < roleCount; i++) {
                document.getElementById(i).style = "border:none; width: 70px; height: 70px;background-color:transparent;";
            }
            clickAllClear();
        }

    }
    function clickAllClear() {
        falseCount = 0;
        //document.getElementById('ARN').innerHTML = "";
        allRoleName = "";
        for (var i = 0; i < roleCount; i++) {
            pcrState[i] = true;
            document.getElementById(i).style = "border:none; width: 70px; height: 70px;background-color:transparent;";
            document.getElementById(i).removeAttribute("disabled");
        }
    }

    function clickImageBolder(number) {
        falseCount = 0;
        if (pcrState[number]) {
            document.getElementById(number).style = "color:blue; border: solid 4px ; width: 70px; height: 70px;background-color:transparent;";
            pcrState[number] = !pcrState[number];
        }
        else {
            document.getElementById(number).style = "border:none;width: 70px; height: 70px;background-color:transparent;";
            pcrState[number] = !pcrState[number];
        }
        for (var i = 0; i < roleCount; i++) {
            if (pcrState[i] == false) {
                falseCount++;
            }
        }

        if (falseCount == 5) {
            for (var i = 0; i < roleCount; i++) {
                if (pcrState[i] == true) {
                    document.getElementById(i).setAttribute("disabled", "disabled");
                }
            }
        }
        else {
            for (var i = 0; i < roleCount; i++) {
                if (pcrState[i] == true) {
                    document.getElementById(i).removeAttribute("disabled");
                }
            }
        }
        for (var i = 0; i < roleCount; i++) {
            if (pcrState[i] == false) {
                allRoleName += document.getElementById(i).value + " ";
            }
        }
        allRoleName = "";
        falseCount = 0;
    }

    @*function submitForm() {

        jQuery.ajax({
            type: "POST",
            url: "@Url.Action("Search")",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ p: model }),
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }*@

    function submitForm() {
        var model = new Object();
        model.d1 = d1;
        model.d2 = d2;
        model.d3 = d3;
        model.d4 = d4;
        model.d5 = d5;
        jQuery.ajax({
            url: '@Url.Action("Search", "PrincessConnect")',
            data: { "p": model }, // 變數名稱必須跟Action裡的相同
            cache: false,
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                idView = [];
                a1View = []; a2View = []; a3View = []; a4View = []; a5View = [];
                d1View = []; d2View = []; d3View = []; d4View = []; d5View = [];
                insertTimeView = []; contentView = []; positiveView = []; negativeView = [];
                console.log(data);
                var obj1 = JSON.parse(data); //由JSON字串轉換為JSON物件
                $.each(obj1.dataList, function (i, obj2) {
                    queryCount++;
                    idView.push(obj1.dataList[i]["Id"]);
                    a1View.push(obj1.dataList[i]["a1"]); a2View.push(obj1.dataList[i]["a2"]); a3View.push(obj1.dataList[i]["a3"]); a4View.push(obj1.dataList[i]["a4"]); a5View.push(obj1.dataList[i]["a5"]);
                    d1View.push(obj1.dataList[i]["d1"]); d2View.push(obj1.dataList[i]["d2"]); d3View.push(obj1.dataList[i]["d3"]); d4View.push(obj1.dataList[i]["d4"]); d5View.push(obj1.dataList[i]["d5"]);
                    insertTimeView.push(obj1.dataList[i]["insertTime"]); contentView.push(obj1.dataList[i]["Content"]);
                    positiveView.push(obj1.dataList[i]["positive"]); negativeView.push(obj1.dataList[i]["negative"]);
                });
                console.log("queryCount" + queryCount);
                document.getElementById("ADView").innerHTML = "";
                for (var i = 0; i < queryCount; i++) {
                    document.getElementById("ADView").innerHTML += "<br><div id=ADView" + idView[i] + ">" + '<img src=\"../Images/' + a1View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' +
                        '<img src=\"../Images/' + a2View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + '<img src=\"../Images/' + a3View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' +
                        '<img src=\"../Images/' + a4View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + '<img src=\"../Images/' + a5View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + "&nbsp;" +
                        '<img src=\"../Images/' + d1View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' +
                        '<img src=\"../Images/' + d2View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + '<img src=\"../Images/' + d3View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' +
                        '<img src=\"../Images/' + d4View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + '<img src=\"../Images/' + d5View[i] + '.png\" style=\"width: 40px; height: 40px;\" >' + "時間:" + insertTimeView[i] + "<br>評論:" + contentView[i] +
                        "<br><div id=AView" + idView[i] + " onclick=\"good(" + idView[i]+")\" style=\"font - size: 20px; display: inline; cursor: pointer; user - select: none; margin - right: 20px; \">&#128402;" + positiveView[i] + "</div>&nbsp;&nbsp;&nbsp;<div id=DView" + idView[i] +
                        " onclick=\"bad(" + idView[i] +")\" style=\"font - size: 20px; display: inline; cursor: pointer; user - select: none; margin - right: 20px; \">&#128403;" + negativeView[i] + "</div>";
                    console.log("ID=" + idView[i]);
                    console.log("進攻:" + a1View[i] + a2View[i] + a3View[i] + a4View[i] + a5View[i] + "防守:" + d1View[i] + d2View[i]
                        + d3View[i] + d4View[i] + d5View[i] + "評論:" + contentView[i] + "時間:" + insertTimeView[i] + "正評:" + positiveView[i]
                        + "負評" + negativeView[i]);
                }
                queryCount = 0;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Found error when using Ajax!!");
                // 記得要加入error handler不然很難除錯
            }
        });

    };
    function good(ID) {
        if (Account == "") {
            return;//沒登入不准動到讚 倒讚
        }
        console.log(ID + " good 被點擊");
        var Pmodel = new Object();
        Pmodel.Id = ID;
        var Mmodel = new Object();
        Mmodel.Account = Account;
        jQuery.ajax({
            url: '@Url.Action("PositiveEdit", "PrincessConnect")',
            data: {
                "p": Pmodel,
                "m": Mmodel
            }, // 變數名稱必須跟Action裡的相同
            cache: false,
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                console.log("正讚:" + data);
                var obj1 = JSON.parse(data); //由JSON字串轉換為JSON物件
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Found error when using Ajax!!");
            }
        });
    }
    function bad(ID) {
        if (Account == "") {
            return;
        }
        console.log(ID + " bad 被點擊");
        var Pmodel = new Object();
        Pmodel.Id = ID;
        var Mmodel = new Object();
        Mmodel.Account = Account;
        jQuery.ajax({
            url: '@Url.Action("NegativeEdit", "PrincessConnect")',
            data: {
                "p": Pmodel,
                "m": Mmodel
            }, // 變數名稱必須跟Action裡的相同
            cache: false,
            type: "POST",
            success: function (data, textStatus, jqXHR) {
                console.log("倒讚:" + data);
                var obj1 = JSON.parse(data); //由JSON字串轉換為JSON物件
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Found error when using Ajax!!");
            }
        });
    }
</script>

<br>
<table style="background-color:lightgray; background:rgba(255,255,255,0.5);">
    <tr>
        <td>
            &nbsp;&nbsp;&nbsp;
            防守:
            <img id="di0" style="width: 50px; height: 50px; border:none;" />
            <img id="di1" style="width: 50px; height: 50px; border:none;" />
            <img id="di2" style="width: 50px; height: 50px; border:none;" />
            <img id="di3" style="width: 50px; height: 50px; border:none;" />
            <img id="di4" style="width: 50px; height: 50px; border:none;" />
        </td>
    </tr>
</table>

<input type="button" value="查詢" onclick="submitForm()" style="background: rgba(255,255,255,0.5);" />
<div id="displayView">
    <span id="ADView"></span>
</div>
<script>
    let GB = true;
    function changeGB() {
        if (GB) {
            document.getElementById("22222").style = "color:blue;"
            GB = !GB;
        }
        else {
            document.getElementById("22222").style = "";
            GB = !GB;
        }
    }
</script>
<div id="22222"onclick="changeGB()">
    &#128403;
</div>


@*匯入驗證欄位所需的JavaScript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}